    <!-- Content Start -->
    <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="section-title text-center">
            <h2>Fun Facts About Aaron Blythe</h2>
            <img src="images/ablythe_twitter.png" alt="ablythe twitter">
            <p>father, husband, hacker, software architect, genuinely interested in understanding things and making them better</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <ul class="counter-box clearfix">
                <li>
                  <div class="block">
                    <i class="ion-ios-timer-outline"></i>
                    <h4 class="counter">20</h4>
                    <span>Years working in Tech</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-glasses-outline"></i>
                    <h4 class="counter">20</h4>
                    <span>Presentations</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-compose-outline"></i>
                    <h4 class="counter">1200</h4>
                    <span>LinkedIn Connections</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-timer-outline"></i>
                    <h4 class="counter">4</h4>
                    <span>Years organizing DevOps KC meetup</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="testimonial-carousel">
              <div id="testimonial-slider" class="owl-carousel">
                <div>
                    <img src="images/cotation.png" alt="IMG">
                    <p>"Ridiculously efficient is what comes to mind when I think about Aaron... He is a highly motivated and a smart software engineer who can be trusted to always deliver results."</p>
                    <div class="user">
                      
                      <p><span>Nimesh Subramanian</span> Software Engineer </p>
                    </div>
                </div>
                <div>
                  <img src="images/cotation.png" alt="IMG">
                    <p>"Aaron is a great mentor with a broad spectrum of knowledge. Early in my career I reached out to Aaron to be my mentor to help me grow and navigate my career... Aaron has a passion for efficiency and automation."</p>
                    <div class="user">
                      
                      <p><span>John Leacox</span> Software Architect</p>
                    </div>
                </div>
                <div>
                  <img src="images/cotation.png" alt="IMG">
                    <p>"Aaron is one of the most ethuastic people I know... Aaron would be a great asset as both a leader and developer for any technical team."</p>
                    <div class="user">
                      
                      <p><span>Andy Nelson</span> Software Architect </p>
                    </div>
                </div>
                <div>
                  <img src="images/cotation.png" alt="IMG">
                    <p>"I was very fortunate to have Aaron as a mentor early in my career. He has that rare blend of passion and patience when it comes to helping others. Any one that worked with Aaron could see he had a love for solving problems, helping others solve problems, and then sharing the knowledge he learned from those experiences."</p>
                    <div class="user">
                      
                      <p><span>Jason Brady</span> Software Architect</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>